<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
      rel="stylesheet"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?display=swap&amp;family=Lexend%3Awght%40400%3B500%3B700%3B900&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900"
    />

    <title>Stitch Design</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />

    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
  </head>
  <body>
    <div class="relative flex size-full min-h-screen flex-col bg-[#101816] dark group/design-root overflow-x-hidden" style='font-family: Lexend, "Noto Sans", sans-serif;'>
      <div class="layout-container flex h-full grow flex-col">
        <header class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#273a33] px-10 py-3">
          <div class="flex items-center gap-4 text-white">
            <div class="size-4">
              <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_6_330)">
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M24 0.757355L47.2426 24L24 47.2426L0.757355 24L24 0.757355ZM21 35.7574V12.2426L9.24264 24L21 35.7574Z"
                    fill="currentColor"
                  ></path>
                </g>
                <defs>
                  <clipPath id="clip0_6_330"><rect width="48" height="48" fill="white"></rect></clipPath>
                </defs>
              </svg>
            </div>
            <h2 class="text-white text-lg font-bold leading-tight tracking-[-0.015em]">Verdant</h2>
          </div>
          <div class="flex flex-1 justify-end gap-8">
            <div class="flex items-center gap-9">
              <a class="text-white text-sm font-medium leading-normal" href="#">My Garden</a>
              <a class="text-white text-sm font-medium leading-normal" href="#">Tasks</a>
              <a class="text-white text-sm font-medium leading-normal" href="#">Calendar</a>
              <a class="text-white text-sm font-medium leading-normal" href="#">Library</a>
            </div>
            <button
              class="flex max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-10 bg-[#273a33] text-white gap-2 text-sm font-bold leading-normal tracking-[0.015em] min-w-0 px-2.5"
            >
              <div class="text-white" data-icon="Bell" data-size="20px" data-weight="regular">
                <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                  <path
                    d="M221.8,175.94C216.25,166.38,208,139.33,208,104a80,80,0,1,0-160,0c0,35.34-8.26,62.38-13.81,71.94A16,16,0,0,0,48,200H88.81a40,40,0,0,0,78.38,0H208a16,16,0,0,0,13.8-24.06ZM128,216a24,24,0,0,1-22.62-16h45.24A24,24,0,0,1,128,216ZM48,184c7.7-13.24,16-43.92,16-80a64,64,0,1,1,128,0c0,36.05,8.28,66.73,16,80Z"
                  ></path>
                </svg>
              </div>
            </button>
            <div
              class="bg-center bg-no-repeat aspect-square bg-cover rounded-full size-10"
              style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBPmFroArdQfuPp2dCTMSGpLdqBNWH8IpXAVir_3-GuJBKw61Hy0E8MXAe2A9sTv6aj6DlM621O0yvqG5hA2OMokDe-aetznuEHzSpGFfoKLrNFD0CexhDpMNfTW6QKNGe7xPXd4aIXQRfROwaN5_PItFOqDnWt2aaMUYKK0XSAikivQhHwc1EDVmhxYA5T_aX1dMj19eIIniqYBs6ErA3lSxc9nVAxWbUgDzhBb8GK_9LvSLkjHsgvjjfLNT9dbGM0sPam68rCL_Tv");'
            ></div>
          </div>
        </header>
        <div class="px-40 flex flex-1 justify-center py-5">
          <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
            <div class="flex flex-wrap justify-between gap-3 p-4">
              <p class="text-white tracking-light text-[32px] font-bold leading-tight min-w-72">My Garden</p>
              <button
                class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-8 px-4 bg-[#273a33] text-white text-sm font-medium leading-normal"
              >
                <span class="truncate">Add Plant</span>
              </button>
            </div>
            <h3 class="text-white text-lg font-bold leading-tight tracking-[-0.015em] px-4 pb-2 pt-4">Outdoor</h3>
            <div class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3 p-4">
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCjJBzoeG-ZIGN_akYAOIlKGX7NPhv1s0_eEhJaz3F_PFkJYiINk-g_VsHPH6M4bIwvScLgjtwCRnszRvmKc6foYyzWtxjPyUg93zTihZjApdOzK2jRyMDWgxm75AV6m0Q80qE18p9mqDwLFqf7F4W2yYizhZNCekXVKOtrzHN1_iUOLLcdu6Z4QpQAFPUY8u5uSjyP1tWC8Pq8zapK99D1sAw5ih1wY8LhrCk9neyHRQELwCt3mpaRHf7kOFxloADE-faPPTLiKvDV");'
                ></div>
                <div>
                  <p class="text-white text-base font-medium leading-normal">Tomato</p>
                  <p class="text-[#9abcb0] text-sm font-normal leading-normal">Planted on 05/15/2024 | Device: Online | Moisture: 65%</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCNlum-YUQnve3WCgi5gq0qwz9rshHQNgkyKRQlIAw0kk6py-UifUbSKME8e-3xvaLfMyXrYXvL8WVY4x_mdx5RS7CwmnUOouyw_INIb0mAAEuQUSusr6k--KcVic0Pgxla4EAgugo_d6bSspKsCHJwybQUkY6q1auBqzttqNq3cDuU5YngD2stGsL4HWm27BsowTC-PYk48OuROpdx64PRlZ9aryn8q05NEpYnX3o6E7hsVJ1vNem6dVqgtuddoO047mkEbRLSy2Ur");'
                ></div>
                <div>
                  <p class="text-white text-base font-medium leading-normal">Basil</p>
                  <p class="text-[#9abcb0] text-sm font-normal leading-normal">Planted on 05/15/2024 | Device: Offline</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCetBoDBIVw-47zAFlgwOyAUMUL62mCHLR0JJNU0J-l3Xc4y7JTfPPb6dntK0jwoHieRGg3me-Laj42Yju8pZXJoLo0d448x2Pxafc0GfhumpO-aS7kQ6UGeo1s3092pJ_ogGfIecXvqbVFQKsKRCa9CLDqR_rdegR0BaOVPdNMQir9vxYcxVxLWqV90bmLaMCqi3RTQJ2JeS8FME8L7nM51Prnl-ylN662HRNhD0RwMsKcU_rgzyVmLQ8okpOQOpUeZA9yZK7w9VuI");'
                ></div>
                <div>
                  <p class="text-white text-base font-medium leading-normal">Rosemary</p>
                  <p class="text-[#9abcb0] text-sm font-normal leading-normal">Planted on 05/15/2024 | Device: Online | Moisture: 72%</p>
                </div>
              </div>
            </div>
            <h3 class="text-white text-lg font-bold leading-tight tracking-[-0.015em] px-4 pb-2 pt-4">Indoor</h3>
            <div class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3 p-4">
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuAu1MfYKUl5AccIzzc4vXtQr6ncD4QJu75D3-reN1PZNbgzM-iTgrTxj962csS6jDYewDFZdRpEZ8cGFv4skUn72TQLgq-gUpvh2YGPs_Nw2JSkfseHXHRE1F4f254hUCx-vW-zgy4wfeWj445xzgq1VHqlm3qRTH2-Qj6CD_6461ZVc0ZE8dmAy3x-pPfsP4sHcW69W2q-cNVvFtJ9OD82Jw9b1Le3vrIFyG4tgWiznXm6caJPyoeQMFr5mHDdgsgu1qe2Ttk5rqT0");'
                ></div>
                <div>
                  <p class="text-white text-base font-medium leading-normal">Fiddle Leaf Fig</p>
                  <p class="text-[#9abcb0] text-sm font-normal leading-normal">Planted on 05/15/2024 | Device: Online | Moisture: 58%</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCPhkMAiXyvgDs5470U50s0jOlXAFB0x_zkvw-ICxg8O9t3w40uzGP3PifsSHPsS7UMGAX0ZwIrnRJXOx3Se0LnZECyHNviYDDp1oTocnyoZYsG23kY_CHxwuuTpCnNHf4IonWfM_9Pk-7mi-rsNykZOpZyz3AloIoFKeQYy7a6UCxtn5sIMYCosepGtOSQY3XLgJA73h2rq5SQXXyo_4uyK43sd9w1JPds9Wq8A9-JRIubRYQPGvx5UbIdRRLaL8TnZeTGJBF-eMbz");'
                ></div>
                <div>
                  <p class="text-white text-base font-medium leading-normal">Snake Plant</p>
                  <p class="text-[#9abcb0] text-sm font-normal leading-normal">Planted on 05/15/2024 | Device: Online | Moisture: 60%</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCU_oLvRD8yD0SYZ7rFFcz_PnHDfbXPTcZUmAicpgM3LvM_xcEF3Td6EeXsxtJnEa1J4gm01zv4Gq-PohbyQ3UlinRd1O0_2Co8lYWTxNhnQWIrKs6gY_JIBmambeTbbLI796_Y0nBOpukiher6PTaCi1FtHmruUxdrQttR1KXiY9uG6nS9iRjJ28SxH_HUSBba9Ya9f1t8JWZ_VUyRReJwNI0ZMkZt20suXP7yxHn2Z2yATTufXCKC8oGC9jXn4yuT1IYBNV1uQ3wG");'
                ></div>
                <div>
                  <p class="text-white text-base font-medium leading-normal">Peace Lily</p>
                  <p class="text-[#9abcb0] text-sm font-normal leading-normal">Planted on 05/15/2024 | Device: Online | Moisture: 63%</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

